#SensorButtonWrapper {
  width: 100%;
  height: 100%;
}

.SensorButton {
  width: 100%;
  height: 100%;
  background-color: green;
  font-size: 2vmax;
}

#bvalue{
font-size:70px;
color:black;
} 

#bvalue img{
width:80px;
}


