.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.SensorsWindow {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 60%;
  /*height: 1200px;*/
  background-color: green;
  margin: auto;
}

.SensorMenu {
  background-color: orange;
}

.Test {
  background-color: skyblue;
}
.Test .row {
  height: 20%;
}

.SensorInfo {
  display: inline-block;
  margin: auto;
  width: 48%;
  height: 100%;
  background-color: blue;
  border: 0px solid pink;
}

.SensorButton {
  width: 100%;
  height: 100%;
  background-color: green;
}

.AirSensorInfo {
  display: inline-block;
  margin: auto;
  width: 30%;
  height: 100%;
  background-color: blue;
  border: 0px solid pink;
}

.AirSensorButton {
  width: 100%;
  height: 100%;
  background-color: red;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
